services:
  mongo:
    image: mongo
    restart: always
    ports:
    - 27017:27017
    volumes:
    - mongo:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: nestjs-typeorm-mongodb

volumes:
  mongo:
